<launch>

  <!-- Connect the robot to a keyboard teleop controller -->
  <!-- <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/> -->

  <!-- Launch Navigation -->
  <include file="$(find final_nav)/launch/navigation.launch" />


  <!-- Launch the state machine -->
  <node ns="final_fsm" pkg="final_fsm" type="state_machine_node.py" name="state_machine_node" output="screen" />


</launch>