<launch>

  <arg name="local_planner" value="mpc" doc="base, dwa, teb, mpc" />
  <arg name="use_move_base_local" default="true" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find final_pnc)/config/map_params/costmap_common_params.yaml" command="load"
      ns="global_costmap" />
    <rosparam file="$(find final_pnc)/config/map_params/costmap_common_params.yaml" command="load"
      ns="local_costmap" />
    <rosparam file="$(find final_pnc)/config/map_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find final_pnc)/config/map_params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find final_pnc)/config/nav_params/move_base.yaml" command="load" />

    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />

    <param name="base_global_planner" type="string" value="graph_planner/GraphPlanner" />
    <param name="GraphPlanner/planner_name" value="theta_star" />
    <rosparam file="$(find graph_planner)/config/graph_planner_params.yaml" command="load" />

    <!-- <param name="base_global_planner" type="string" value="sample_planner/SamplePlanner" />
    <param name="SamplePlanner/planner_name" value="informed_rrt" />
    <rosparam file="$(find sample_planner)/config/sample_planner_params.yaml" command="load" /> -->

    <!-- <rosparam file="$(find final_pnc)/config/nav_params/base_local_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" /> -->

    <!-- <rosparam file="$(find final_pnc)/config/nav_params/dwa.yaml" command="load" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->

    <!-- <rosparam file="$(find final_pnc)/config/nav_params/teb.yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->

    <remap from="cmd_vel" to="/dummy/cmd_vel" />
    <remap from="/move_base_simple/goal" to="/dummy/goal" />
  </node>

  <group if="$(arg use_move_base_local)">
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_local" output="screen">

      <rosparam file="$(find final_pnc)/config/map_params_local/costmap_common_params.yaml"
        command="load"
        ns="global_costmap" />
      <rosparam file="$(find final_pnc)/config/map_params_local/costmap_common_params.yaml"
        command="load"
        ns="local_costmap" />
      <rosparam file="$(find final_pnc)/config/map_params_local/local_costmap_params.yaml"
        command="load" />
      <rosparam file="$(find final_pnc)/config/map_params_local/global_costmap_params.yaml"
        command="load" />

      <rosparam file="$(find final_pnc)/config/nav_params/move_base_local.yaml" command="load" />
      <param name="base_local_planner" type="string" value="base_local_planner/TrajectoryPlannerROS" />

      <param name="base_global_planner" type="string" value="navfn/NavfnROS" />

      <!-- <param name="base_global_planner" type="string" value="graph_planner/GraphPlanner" />
    <param name="GraphPlanner/planner_name" value="d_star" />
    <rosparam file="$(find final_pnc)/config/nav_params/graph_planner.yaml" command="load" /> -->

      <remap from="/move_base/recovery_status" to="/move_base_local/recovery_status" />
      <remap from="/move_base/action_topics" to="/move_base_local/action_topics" />
      <remap from="cmd_vel" to="/dummy/cmd_vel" />
      <remap from="/move_base_simple/goal" to="/dummy/goal" />

    </node>
  </group>


  <group if="$(eval local_planner == 'mpc')">
    <node pkg="final_pnc" type="nmpc_node.py" name="nmpc_node" output="screen" respawn="true"
      launch-prefix="bash -c 'sleep 3.0; $0 $@';">
    </node>
  </group>

</launch>