<?xml version="1.0"?>

<launch>
    <node pkg="final_pnc" type="global_planner_node" name="my_planner" output="screen">
        <param name="costmap/global_frame" value="map" />
        <param name="costmap/width" value="401" />
        <param name="costmap/height" value="411" />
        <param name="costmap/resolution" value="0.05" />
        <param name="costmap/origin_x" value="-1.45836" />
        <param name="costmap/origin_y" value="-15.5175" />
    </node>
</launch>